<ion-view title="shop" id="page4">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/BqKk48ouTU6uIeHPRMT7_download%2520(1).jpg) no-repeat center;" class="has-header">
        <div>
            <p>
                når det er at man har købt den, skal man miste en case/et case "point"
            </p>
        </div>
        <ion-list>
            <label class="item item-select">
                <span class="input-label">amount</span>
                <select>
                    <option>1xbuy</option>
                    <option>5xbuy</option>
                    <option>25xbuy</option>
                    <option>50xbuy</option>
                    <option>100xbuy</option>
                </select>
            </label>
        </ion-list>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="page2">
                <img src="img/Z1RHQpEeS3W3jfbbT12E_c18.png">
                <h2>Breakout Case</h2>
                <p>0,03</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/c02sYlO1SUatw5x2Oyco_c111.png">
                <h2>Revolver Case</h2>
                <p>0,03€</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/83KG2GQKSMOBRX4E3jhK_c80.png">
                <h2>Shadow Case</h2>
                <p>0,04€</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/SDQAXk1gRb7bk0I0QZCk_c50.png">
                <h2>Falchion Case</h2>
                <p>0,04€</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/DUaRESBXS5y1agoJw3Kt_c38.png">
                <h2>Chroma Case</h2>
                <p>0,10 €</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/HKC9xMhqQT2G9zw22LQt_c11.png">
                <h2>Operation Phoenix Weapon Case</h2>
                <p>0,12€</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/utzeYqWT5y0SYH1jHKM0_c48.png">
                <h2>Chroma 2</h2>
                <p>0,14 €</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/NXfNaeLFS4GL9brqI6sE_c29.png">
                <h2>Operation Vanguard Weapon Case</h2>
                <p>0,14€</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/NoErF0ZeTUqVCe3rF6px_c112.png">
                <h2>Operation Wildfire Case</h2>
                <p>0,15</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/hiquio9yQWuNpSl7Kxuu_c5.png">
                <h2>eSports 2013 Winter Case</h2>
                <p>0,20€</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/IwFoT3mTGimsghHdQD3w_c10.png">
                <h2>Csgo Weapon Case 3</h2>
                <p>0,25€</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/Vuro1MxmR42A3ScCQ3oA_c19.png">
                <h2>eSports 2014 Summer Case</h2>
                <p>0,26€</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/bCq7ad2vTiGUi5hhEF9j_c17.png">
                <h2>Huntsman Case</h2>
                <p>0,78€</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/DrS6oZtcR9aDqXAJR00x_c4.png">
                <h2>Csgo Weapon Case 2</h2>
                <p>0,95€</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/aq4Tof8SwaunZj1t57VQ_j.png">
                <h2>Csgo Weapon Case 1</h2>
                <p>5,94€</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/0odIJGriR2KhjR1LEgWJ_c2.png">
                <h2>eSports 2013 Case</h2>
                <p>7,85€</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/DnrA7DPyRPS9mOur87q5_c3.png">
                <h2>Operation Bravo Case</h2>
                <p>9,73€</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/NC7oFDI1TfCXD4V7bvuL_c7.png">
                <h2>Winter Offensive Weapon Case</h2>
                <p>1,48€</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>