<ion-view title="trade" id="page14">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="search for profile here ">
            </label>
        </form>
        <div>
            <p>
                her skal der være en liste over alle spillere som er logget ind. når det er at man har clicket på en person kan man se personens inventory og sit eget. så kan man sende en bytte anmodning (fx. han får min fiske kniv, jeg får hans sniper). så kan personen
                se at man har sendt anmodningen, og kan acceptere eller sige nej. man skal også kunne søge
            </p>
        </div>
        <div style="text-align:center;">
            <img src="img/YLiNqHOTQgCS1QxaRl2p_download (2).jpg" width="100%" height="auto">
        </div>
    </ion-content>
</ion-view>